$bleu: #0093d2;
html {
    height: 100%
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    background-color: $bleu;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

nav {
    position: relative;
    padding: 0;
    margin: 0;
    height: 75px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
    background-color: $bleu;
    -webkit-box-shadow: 0px 7px 23px -2px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 7px 23px -2px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 7px 23px -2px rgba(0, 0, 0, 0.35);
        z-index: 2;
    ul {
        width: 100%;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        a {
            color: #fff;
            &:last-child::after {}
        }
        li {
            display: inline-block;
            width: 33%;
            text-align: center;
        }
    }
}

a {
    text-decoration: none;
}

#login {
    background-color: #FFF;
    margin: 0 auto;
    border: solid 1px gray;
    padding: 2%;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 310px;
    height: 200px;
    transform: translateY(-50%) translateX(-50%);
    label {
        font-family: Verdana, Helvetica;
        font-size: 14px;
    }
}

button {
    background-color: $bleu;
    color: #f2f2f2;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
    width: 100%;
    transition: all 0.4s;
    border: solid 1px $bleu;
    &:hover {
        background-color: #f2f2f2;
        color: $bleu;
    }
}

.block {
    input[type=text],
    input[type=password] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }
}

#alert {
    border: red 1px solid;
    background-color: #ff8080;
    margin-bottom: 5px;
    display: none;
    #alertLabel {
        font-family: Verdana, Helvetica;
        font-size: 12px;
        margin-left: 10px;
        vertical-align: middle;
        text-align: center;
        color: white;
        padding: 1%;
    }
}

#closeAlert {
    float: right;
    margin-right: 10px;
    color: white;
    margin-top: 2px;
}
.grp2{ 
    background: #f2f2f2;
    width: 100%;
    padding-top: 20px;
   // position: relative;
    }
.grp1 {
    height: 100%;
    background: #f2f2f2;
    width: 100%;
    padding-top: 20px;
  //  position: relative;
    #newevent {
        border: solid 1px $bleu;
        background-color: $bleu;
        padding: 5px 10px;
        border-radius: 8px;
        font-size: 21px;
        font-family: Verdana;
        color: white;
        float: right;
        margin-right: 25px;
    }
}

img {
    max-width: 400px;
    max-height: 400px;
}

input[type=file] {
    padding: 10px;
    background-color: #FFF;
    display: block;
}

#titreevent {
    width: 33%;
    margin: auto;
    display: block;
    position: relative;
    height: 70px;
    text-align: center;
    font-size: 38px;
    border: none;
    margin-top: 30px;
    border-radius: 25px;
}

.richText {
    width: 50%;
    float: right;
    right: 10%;
    position: absolute;
    top: 20%;
}

.zone-image {
    left: 10%;
    top: 20%;
    position: absolute;
    text-align: center;
}

    .lesdates{
        display: inline-block;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 80%;
        font-family: Verdana, Geneva, Tahoma, sans-serif;}